html{
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(90deg, #92b0b3, #ffefef);
}

.content{
    padding-top: 20px;
    max-width: 1000px;
    margin: 0 auto;

}
.hidden{
    display: none;
}

.tabs-items{
    display: flex;
    position: fixed;
    flex-direction: column;
    left: 15px;
    top: 50px;
}

.tabs-items > a{
    background: #fffd02;
    width: 75px;
    height: 20px;
    margin: 4px;
    color: black;
    border-radius: 10px;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    font-family: monospace;
}
.tabs-items > a:focus{
    background-color: #1daa1d;
}

.tabs-body {
    color: #021f55;
    text-align: center;
    font-size: 16px;
    font-family: system-ui;
    width: 1000px;
    left: calc(50%-500px);
    display: block;
    position: absolute;
    padding: 5px;
}

.tabs-block{
    border: 1px solid rgb(156, 156, 156);
    padding: 5px;
    margin: 0 auto;
    width: 700px;

    display: none;
}
.tabs-block:target{
    display: flex;
    flex-direction: column;
    align-items: center;
}

           
   #black-square, .five-square, #black-square-1 {
    margin: 0 auto;
    margin-top: 25px;
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 4px;
    box-shadow: inset 0px 0px 20px 2px grey;
}


#tab_03 > div{
    display: flex;
}

.five-square{
    margin: 5px;
}

#tab_04 > div{
    display: flex;
    align-items: center;
}
#tab_04 > div > input{
    width: 145px;
    border: 1px solid #ffd000;
    height: 20px;
    border-radius: 12px;
    padding-left: 10px;
} 

.text1, .text2, #text3, #text4{
    background-color: #021f55;
    width: 50px;
    height: 30px;
    text-align: center;
    color: #ffeded;
    border: 1px solid black;
    border-radius: 25%;
    margin: 5px;
    display: block;

}

#btn{
    background: #ffe30b;
    border: 2px solid #9d114b;
    border-radius: 10px;
    padding: 3px 20px;
    transform-style: preserve-3d;
    transition: 0.2s;
    margin: 10px;

}
#btn::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    background: #9b114b;
    border-radius: inherit;
    box-shadow: 0 0 0 2px #b1858d;
    transform: translate3d(0, 6px, -1px);
}

#btn:hover{
    background: #ffe9ed;
    transform: translate(0, 0.25em);

}
#btn:hover::before{
    transform: translate3d(0, 0,5em, -1em); 
}

#btn:active{
    background: #ffefef;
    transform: translate(0em, 8px);
}
#btn:active::before{
    transform: translate3d(0, 1px, -1px);
    transition: .2s;
}

.yellow-square, .red-square{
    margin: 20px;
    width: 150px;
    height: 150px;
    background: hsl(49, 100%, 50%);
    border-radius: 3px;
    border: 1px solid black;
    transition: .3s;
}

.yellow-square:hover{
    cursor: pointer;
    background: hsl(49, 100%, 65%);
    transform: translate(0, -3px);
    box-shadow: -1px 1px 5px 0px grey
}

.yellow-square:active{
    cursor: pointer;
    background: hsl(49, 100%, 54%);
    transform: translate(0, 3px);
    box-shadow: -1px 1px 5px 0px grey
}

.red-square{
    background-color: red;
    width: 100px;
    height: 100px;
    display: none;
}

.green-square{
    width: 50px;
    height: 20px;
    background: #1daa1d;
    border-radius: 4px;
    margin: 10px;
}

.input-green{
    padding: 5px;
    margin: 20px;
border-radius: 5px;
border: 2px solid rgba(255, 255, 0, 0.25);


}

 img{
   margin: 15px;
   max-width: 400px;
 }
.image-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-img{
    width: 400px;
    padding: 5px;
    margin: 20px;
border-radius: 7px;
border: 2px solid rgba(255, 255, 0, 0.25);

}

.coordinate{
    margin: 30px;
    padding: 30px;
    border: 3px solid rgb(54, 16, 16);
    font-size: 20px;
}

.to-top{
    background-color: rgb(29, 221, 221);
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: cursive;
    font-size: 30px;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
    bottom: 30px;
}

.to-top.active{
    pointer-events:auto;
    opacity: 1;
    bottom: 30px;
    box-shadow: -2px 3px 2px 1px;
}

.to-top:hover{
    transform: translate(0, -3px);
   
}

.to-top:active{
    transform: translate(0, 3px);
}

.block-1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 150px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 30px;
    background: #f08706;
    cursor: pointer;
    transition: .3s;

}

.block-2{
    width: 150px;
    height: 75px;
    border: 3px solid black ;
    border-radius: 10px;
    background: #e6e6e6;
    cursor: pointer;
    transition: .3s;


}

.block-1:hover{
    transform: translate(0, 3px);
   
}

.block-2:hover{
    transform: translate(0, -3px);
   
}

.square-button{
    position: fixed;
    right: 100px;
}

.grey-square{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
    background: rgba(87, 86, 86, 0.5);
    z-index: 5;
}
.onload {
    display: flex;
    justify-content: center;
}

.onload > div{
    width: 150px;
    margin: 20px;
}

#input-1,#input-2,#input-3{
    width: 150px;
    height: 30px;
    border: 1px solid aqua;
}



.upload-container {
    position: relative;
}

#file_upload{
    margin-top: 20px;
    border: 1px solid #92b0b3;
    background: #e4ffbb;
    padding: 40px 25px 33px 60px;
    text-align: center;
    border-radius: 70px;
    z-index: 0;
   opacity: 0;
   cursor: pointer;
   left: 0px;
   position: absolute;
}
 
.upload-container-1{
    outline: 3px dashed #0febff;
    outline-offset: 10px;
}

.upload-container-2{
   box-shadow: 0px 0px 40px 5px rgb(10, 232, 10);
}

label{   
     display: flex;
    left: 0px;
    font-family: monospace;
    cursor: pointer;
    margin-top: 20px;
    border: 1px solid #92b0b3;
    background: #ebede8;
    height: 94px;
    color: #005bff;
    width: 338px;
    border-radius: 70px;
    z-index: -1;
    flex-direction: column;
    justify-content: center;
    transition: .4s;
}


#file_upload:hover + label{
    background: #ffffff;
    color: black;
}





